<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/sidebarAdmin}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Dashboard</title>
</head>
<body>
    <div class="w-[calc(100%-256px)] min-h-screen ml-64 bg-gray-50 p-3" layout:fragment="content">
        <div class="flex justify-center mb-6">
            <h3>Tableau de bord</h3>
        </div>

        <div class="flex justify-between mt-4">
            <div class="border shadow rounded-md p-5">
                <div class="flex justify-center">
                    <h4>Montant Total des devis</h4>
                </div>
                <div class="flex justify-center mt-4">
                    <h2 th:text="${#numbers.formatDecimal(montantTotalDevis, 1, 'COMMA', 2, 'POINT')} + ' Ar'" class="text-teal-500"></h2>
                </div>
            </div>
            <div class="border shadow rounded-md p-5">
                <div class="flex justify-center">
                    <h4>Montant Total de paiement effectué</h4>
                </div>
                <div class="flex justify-center mt-4">
                    <h2 th:text="${#numbers.formatDecimal(montantTotalPaiementEffectue, 1, 'COMMA', 2, 'POINT')} + ' Ar'" class="text-orange-500"></h2>
                </div>
            </div>
        </div>


        <div class="mt-10 mb-7 flex justify-center">
            <div class="w-80">
                <form th:action="@{/devis/dashboard}" method="get" class="flex items-center justify-center">
                    <div class="input-field">
                        <label for="annee" class="label">Choisir année</label>
                        <div class="flex">
                            <select name="annee" id="annee" class="input">
                                <option th:each="i : ${#numbers.sequence(1990, 2030)}" th:value="${i}" th:text="${i}" th:selected="${annee == i}"></option>
                            </select>
                            <button type="submit" class="btn">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-white">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                                </svg>                              
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="w-full mt-6">
            <div class="w-full flex justify-center">
                <canvas id="barChart" width="1000" height="500"></canvas>
            </div>
        </div>


        <script th:src="@{/js/chart.umd.js}"></script>
        
        <!-- bar -->
        <script th:inline="javascript">
            // Données du graphique en barres
            var data = {
                labels: ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", 
                        "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"],
                datasets: [{
                    label: 'Montant devis par mois et année',
                    data: [],
                    backgroundColor: ["blue"]
                }]
            };

            /*[# th:each="stat : ${statistiques}"]*/
            data.datasets[0].data.push(/*[[${stat.totalMontant}]]*/); // Ajouter le nombre comme donnée
            /*[/]*/

            // Options du graphique en barres
            var options = {
                responsive: false, // Rendre le graphique réactif
                maintainAspectRatio: false, // Maintenir le rapport d'aspect
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true, // Débuter l'axe y à zéro
                            stepSize: 10 // Intervalles de 10 en 10 sur l'axe y
                        }
                    }]
                }
            };

            // Création du graphique en barres
            var ctx = document.getElementById("barChart").getContext("2d");
            var myBarChart = new Chart(ctx, {
                type: 'bar', // Type de graphique en barres
                data: data,
                options: options
            });
        </script>
    </div>
        
</body>
</html>