<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/sidebarAdmin}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Liste Travaux</title>
</head>
<body>
    <div class="w-[calc(100%-256px)] min-h-screen ml-64 bg-gray-50 p-3" layout:fragment="content">
        <div class="flex justify-center mb-6">
            <h3>Liste des travaux</h3>
        </div>


        <div class="w-full mt-5">
            <div class="flex justify-center mt-4">
                <table>
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Nom travaux</th>
                            <th>Unité</th>
                            <th>Prix unitaire</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr th:each="travaux : ${allTravaux}">
                            <td th:text="${travaux.code}"></td>
                            <td th:text="${travaux.nomTravaux}"></td>
                            <td th:text="${travaux.unite.nom}"></td>
                            <td th:text="${#numbers.formatDecimal(travaux.prixUnitaire, 1, 'COMMA', 2, 'POINT')} + ' Ar'"></td>
                            <td>
                                <a th:href="@{/travaux/page-modif-travaux(idTravaux=${travaux.id})}" class="btn bg-blue-600 hover:bg-blue-700 focus:ring-blue-500">Modifier</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="flex justify-center items-center mt-3" th:if="${nbPage > 0}">
                <!-- Bouton précédent -->
                <a th:if="${numPage > 0}" th:href="@{/travaux/page-all-travaux(numPage=${numPage - 1})}" class="btn">Précédent</a>
                
                <div class="mx-2" th:each="i,iterStat : ${#numbers.sequence(0, nbPage-1)}" th:if="${iterStat.index < 4 or iterStat.index == numPage or iterStat.index > nbPage - 5}">
                    <a th:href="@{/travaux/page-all-travaux(numPage=${i})}" th:text="${i+1}" th:class="'p-2 text-black bg-slate-100 border rounded-md' + ${numPage == i.intValue() ? ' bg-teal-600 text-white border-none' : ''}"></a>
                </div>
                
                <!-- Bouton suivant -->
                <a th:if="${numPage < nbPage - 1}" th:href="@{/travaux/page-all-travaux(numPage=${numPage + 1})}" class="btn">Suivant</a>
            </div>
        </div>
    </div>
</body>
</html>