<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/sidebarAdmin}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Modification travaux</title>
</head>
<body>
    <div class="w-[calc(100%-256px)] min-h-screen ml-64 bg-gray-50 p-3" layout:fragment="content">
        <div id="toast" class="hidden absolute top-4 right-5 rounded-md bg-red-200 text-red-800 py-2 px-5 max-w-md" th:text="${errorMessage}"></div> 
        <div class="flex justify-center mb-6">
            <h3>Modification travaux</h3>
        </div>

        <div class="w-full flex justify-center mt-8">
            <div class="form-card">
                <form th:action="@{/travaux/modif-travaux}" method="post">
                    <input type="hidden" name="id" th:value="${travaux.id}">
                    <!-- <input type="hidden" name="idTypeTravaux" th:value="${travaux.idTypeTravaux}"> -->
                    <input type="hidden" name="etat" th:value="${travaux.etat}">


                    <div class="input-field">
                        <label for="code" class="label">Code</label>
                        <input type="text" name="code" id="code" th:value="${travaux.code}" class="input" required>
                    </div>

                    <div class="input-field">
                        <label for="nomTravaux" class="label">Nom travaux</label>
                        <input type="text" name="nomTravaux" id="nomTravaux" th:value="${travaux.nomTravaux}" class="input" required>
                    </div>

                    <div class="input-field">
                        <label for="unite" class="label">Unité</label>
                        <select name="unite" id="unite" class="input">
                            <option th:each="unite : ${allUnite}" th:value="${unite.id}" th:text="${unite.nom}" th:selected="${unite.id == travaux.unite.id}"></option>
                        </select>
                    </div>

                    <div class="input-field">
                        <label for="prixUnitaire" class="label">Prix unitaire</label>
                        <input type="number" name="prixUnitaire" id="prixUnitaire" th:value="${travaux.prixUnitaire}" class="input" required>
                    </div>

                    <div class="flex justify-center">
                        <button type="submit" class="btn">Modifier</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>